/****************************************************************/
/*   Design:      GIC 4.0                                       */
/*   Copyright:   Ville de Neuchâtel                            */
/*   Name:        GIC                                           */
/*   Graphisme:   CEG / Neuchâtel                               */
/*   HTML/CSS:    CEG / Neuchâtel                               */
/*   Description: Feuille de styles pour l'impression           */
/*--------------------------------------------------------------*/
/*   Date:        JANVIER   2014                                */
/****************************************************************/


body {
	font-size:15pt;
	line-height:18pt;
}
li {
	line-height:18pt;
}
.header-top, .bouton-sousmenu, .themes, .navigation, .footer, .liste-communiques, .adresse, #c25685 {
	display:none;
}
a[href]:after {
    display:none;
  }
@page { margin: 10%; }
.footer-copyright {
	padding-top:5px;
	margin-top:10px;
	border-top:1px solid #000000;
}
div.span9.contenu {
	width:97%;
}
div.themes
