

.hpw_img_code_1 {
   background-image: url("../images/tiny/1.gif");
   }

.hpw_img_code_2 {
   background-image: url("../images/tiny/2.gif");
   }

.hpw_img_code_3 {
   background-image: url("../images/tiny/3.gif");
   }

.hpw_img_code_4 {
   background-image: url("../images/tiny/4.gif");
   }

.hpw_img_code_5 {
   background-image: url("../images/tiny/5.gif");
   }

.hpw_img_code_6 {
   background-image: url("../images/tiny/6.gif");
   }

.hpw_img_code_7 {
   background-image: url("../images/tiny/7.gif");
   }

.hpw_img_code_8 {
   background-image: url("../images/tiny/8.gif");
   }

.hpw_img_code_9 {
   background-image: url("../images/tiny/9.gif");
   }

.hpw_img_code_10 {
   background-image: url("../images/tiny/10.gif");
   }

.hpw_img_code_11 {
   background-image: url("../images/tiny/11.gif");
   }

.hpw_img_code_12 {
   background-image: url("../images/tiny/12.gif");
   }

.hpw_img_code_13 {
   background-image: url("../images/tiny/13.gif");
   }

.hpw_img_code_14 {
   background-image: url("../images/tiny/14.gif");
   }

.hpw_img_code_15 {
   background-image: url("../images/tiny/15.gif");
   }

.hpw_img_code_16 {
   background-image: url("../images/tiny/16.gif");
   }

.hpw_img_code_17 {
   background-image: url("../images/tiny/17.gif");
   }

.hpw_img_code_18 {
   background-image: url("../images/tiny/18.gif");
   }

.hpw_img_code_19 {
   background-image: url("../images/tiny/19.gif");
   }

.hpw_img_code_20 {
   background-image: url("../images/tiny/20.gif");
   }

.hpw_img_code_21 {
   background-image: url("../images/tiny/21.gif");
   }

.hpw_img_code_22 {
   background-image: url("../images/tiny/22.gif");
   }

.hpw_img_code_23 {
   background-image: url("../images/tiny/23.gif");
   }

.hpw_img_code_24 {
   background-image: url("../images/tiny/24.gif");
   }

.hpw_img_code_25 {
   background-image: url("../images/tiny/25.gif");
   }

.hpw_img_code_26 {
   background-image: url("../images/tiny/26.gif");
   }

.hpw_img_code_27 {
   background-image: url("../images/tiny/27.gif");
   }

.hpw_img_code_28 {
   background-image: url("../images/tiny/28.gif");
   }

.hpw_img_code_51 {
   background-image: url("../images/tiny/51.gif");
   }

.hpw_img_code_52 {
   background-image: url("../images/tiny/52.gif");
   }

.hpw_img_code_53 {
   background-image: url("../images/tiny/53.gif");
   }

.hpw_img_code_54 {
   background-image: url("../images/tiny/54.gif");
   }

.hpw_img_code_55 {
   background-image: url("../images/tiny/55.gif");
   }

.hpw_img_code_56 {
   background-image: url("../images/tiny/56.gif");
   }

.hpw_img_code_57 {
   background-image: url("../images/tiny/57.gif");
   }

.hpw_img_code_58 {
   background-image: url("../images/tiny/58.gif");
   }

.hpw_img_code_59 {
   background-image: url("../images/tiny/59.gif");
   }

.hpw_img_code_60 {
   background-image: url("../images/tiny/60.gif");
   }

.hpw_img_code_61 {
   background-image: url("../images/tiny/61.gif");
   }

.hpw_img_code_62 {
   background-image: url("../images/tiny/62.gif");
   }

.hpw_img_code_63 {
   background-image: url("../images/tiny/63.gif");
   }

.hpw_img_code_64 {
   background-image: url("../images/tiny/64.gif");
   }

.hpw_img_code_65 {
   background-image: url("../images/tiny/65.gif");
   }

.hpw_img_code_66 {
   background-image: url("../images/tiny/66.gif");
   }

.hpw_img_code_67 {
   background-image: url("../images/tiny/67.gif");
   }

.hpw_img_code_68 {
   background-image: url("../images/tiny/68.gif");
   }

.hpw_img_code_69 {
   background-image: url("../images/tiny/69.gif");
   }

.hpw_img_code_70 {
   background-image: url("../images/tiny/70.gif");
   }

.hpw_img_code_71 {
   background-image: url("../images/tiny/71.gif");
   }

.hpw_img_code_72 {
   background-image: url("../images/tiny/72.gif");
   }

.hpw_img_code_73 {
   background-image: url("../images/tiny/73.gif");
   }

.hpw_img_code_74 {
   background-image: url("../images/tiny/74.gif");
   }

.hpw_img_code_75 {
   background-image: url("../images/tiny/75.gif");
   }

.hpw_img_code_76 {
   background-image: url("../images/tiny/76.gif");
   }

.hpw_img_code_77 {
   background-image: url("../images/tiny/77.gif");
   }

.hpw_img_code_78 {
   background-image: url("../images/tiny/78.gif");
   }
