.fond-triangle1 {
	background:url(../img/triangle-couleur1.png) no-repeat top left;
}
.fond-triangle2 {
	background:url(../img/triangle-couleur2.png) no-repeat top left;
}
.fond-triangle3 {
	background:url(../img/triangle-couleur3.png) no-repeat top left;
}
.fond-triangle4 {
	background:url(../img/triangle-couleur4.png) no-repeat top left;
}